.items {
  display: flex;
  overflow: hidden;
  padding-top: 2rem;
}

.item {
  padding-right: 1rem;
  transition: opacity 0.3s;
  flex-shrink: 0;
  opacity: 0.2;
  width: 11.25rem;
}

.item:first-child {
  opacity: 1;
}

.item:first-child .itemContent .progressBarMask {
  background-color: var(--rbr-yellow);
}

.item:last-child {
  width: 10.25rem;
}

.item:hover {
  cursor: pointer;
}

.item:last-child {
  padding-right: 0;
}

.itemContent {
  height: 100%;
}

.progressBarMask {
  background-color: #FFF;
  height: 0.125rem;
  border-radius: 0.0625rem;
  margin-bottom: 0.75rem;
}

.progressBar {
  height: 100%;
  transform-origin: 0;
}

.title {
  display: block;
  color: var(--rbr-text);
  font-family: 'BullText-Bold', Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 4.625rem;
}