* {
  --rbr-blue: #001A30;
  --rbr-red: #EA1D2D;
  --rbr-yellow: #FCD700;
  --rbr-text: #FFF;
  color: var(--rbr-text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'BullText-Regular';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672556545/Projeto%20Red%20Bull%20Racing/Fonts/BullText-Regular_uhe67s.woff2');
}

@font-face {
  font-family: 'BullText-Medium';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672556581/Projeto%20Red%20Bull%20Racing/Fonts/BullText-Medium_ckrl6d.woff2');
}

@font-face {
  font-family: 'BullText-Bold';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672556620/Projeto%20Red%20Bull%20Racing/Fonts/BullText-Bold_yqnznq.woff2');
}

@font-face {
  font-family: 'Bull-Bold';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672556392/Projeto%20Red%20Bull%20Racing/Fonts/Bull-Bold_t9dptz.woff2');
}

@font-face {
  font-family: 'Bull-Heavy';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672556507/Projeto%20Red%20Bull%20Racing/Fonts/Bull-Heavy1_hm1zsv.woff2');
}

@font-face {
  font-family: 'Bull-VF';
  src: url('https://res.cloudinary.com/tommello/raw/upload/v1672652727/Projeto%20Red%20Bull%20Racing/Fonts/BullVAR_vmvdhi.woff2');
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset,
form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp,
small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
}

a, a:active, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.button {
  display: inline-flex;
  background-color: unset;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #000F1E33;
  border-radius: 6.25rem;
  font-family: 'BullText-Medium', Helvetica, sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.5rem;
  white-space: nowrap;
  user-select: none;
  cursor: default;
  height: 2.5rem;
  padding: 0 1rem;
  -webkit-user-select: none;
}

.button:hover {
  background-color: #DB0A40;
  border-color: #DB0A40;
}

.checkbox {
  position: relative;
  display: flex;
  flex: 0 0 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  height: 1rem;
  margin: 0.125rem 0.625rem 0 0;
  transition: all 0.2s;
  width: 1rem;
  cursor: pointer;
}

ul.glide__slides li.glide__slide--active {
  opacity: 1;
  z-index: 1;
}

ul.rbr-car__slides li.is-hidden {
  opacity: 0;
}

ul.rbr-car__slides li.not-hidden {
  opacity: 1;
}

button.glide__bullet:is(:hover, :focus) {
  border: none;
  background-color: #F5003F;
}

div button.glide__bullet--active {
  opacity: 1;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.tagBold {
  color: #FFF;
  min-width: 1.5rem;
  font-family: 'BullText-Bold', 'BullText-Regular', 'Bull-Heavy';
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  opacity: 0.7;
}

.titleBold {
  font-family: 'Bull-Bold', 'Bull-Heavy';
  line-height: 1.25rem;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
}