.main::before {
  position: absolute;
  content: '';
  background-image: url('https://res.cloudinary.com/tommello/image/upload/v1668524500/Projeto%20Red%20Bull%20Racing/home-layer_tirigx_djhxmx.avif');
  background-position: bottom;
  height: 141.9%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  display: block;
  background-size: cover;
}

.main {
  background-color: var(--rbr-blue);
  overflow: hidden;
}

.nav::before {
  background: linear-gradient(160deg, #00162B33, #00162B32 3.75%, #00162B31 7.5%, #00162B2F 11.24%, #00162B2C 14.99%, #00162B27 18.74%,
      #00162B22 22.49%, #00162B1c 26.24%, #00162B17 29.99%, #00162B11 33.73%, #00162B0C 37.48%, #00162B07 41.23%, #00162B04 44.98%,
      #00162B02 48.73%, #00162B01 52.47%, #00162B00 56.22%);
  content: "";
  height: 5.5rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.35, 0, 0, 1);
  width: 11.6875rem;
  z-index: 1;
}

.nav {
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: space-between;
  height: 4.25rem;
  padding: 1rem 1.5rem;
}

.logo {
  display: block;
  position: relative;
  z-index: 99;
  top: 0.125rem;
  border: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  border: 0.0625rem solid #FFF3;
  border-radius: 6.25rem;
  backdrop-filter: blur(1.25rem);
  padding: 0.125rem 2rem;
  background-color: #000F1E66;
  margin-right: 3.25rem;
}

.links a {
  display: block;
  font-family: 'BullText-Medium';
  background-color: transparent;
  position: relative;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-right: 2.5rem;
  padding: 0.375rem 0;
}

.links a:nth-last-child(1) {
  margin-right: 0;
}

.link {
  background-color: transparent;
}

.link::after {
  position: absolute;
  top: -0.125rem;
  left: -1rem;
  z-index: -1;
  content: '';
  height: 2.25rem;
  width: calc(100% + 2rem);
  border-radius: 1.375rem;
  background-color: #000F1E66;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.35, 0, 0, 1);
  transition-property: opacity, transform;
}

a:hover .link::after {
  opacity: 1;
  transform: scale(1);
}

.buttonMenu {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: center;
  border-radius: 6.25rem;
  background-color: #000F1E66;
  border: 0.0625rem solid #FFF3;
  margin-left: 1rem;
  backdrop-filter: blur(1.25rem);
  transition: all 0.3s cubic-bezier(0.35, 0, 0, 1);
}

.buttonMenu:hover {
  background-color: #000F1E99;
}

.newsContent {
  z-index: 0;
  content-visibility: visible;
  contain: unset;
  height: 47rem;
  overflow: visible;
  user-select: none;
}

.bottomShadow::after {
  position: absolute;
  background-image: linear-gradient(180deg, #001A3000 50%, #001A30 85%);
  content: '';
  height: 100%;
  width: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 2;
}

.carouselBottomShadow::after {
  position: absolute;
  background: linear-gradient(0deg, #000F1E99, #000F1E00);
  content: '';
  height: 73%;
  width: 100%;
  left: 0;
  top: 27%;
  pointer-events: none;
  z-index: 2;
}

