.container {
  max-width: 100%;
}

.Slide {
  opacity: 0;
}

.carContent {
  min-height: 45rem;
}

.carModel {
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-0.625rem, -0.125rem);
  top: 0;
  height: 100%;
  width: 100%;
}
